/*BEGIN: ABOUT*/

.vk-about-item{
	.vk-img{

		@media(min-width:$tablet_landscape_width){
		}
	}
	&__brief{
		padding-top: 10px;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__title{
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__text{

		@media(min-width:$tablet_landscape_width){

		}
		p{
			margin-bottom: 0;
		}
	}
}

.vk-about{
	&__heading{
		@extend .vk-heading--style-1;
	}

}

/*END: ABOUT*/
