/*BEGIN: BLOG*/

.vk-blog-item{
	padding:15px 0;

	&__img{
		@extend .vk-img,.vk-img--cover;
		min-height: 200px;
		background-color: $grey-1;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__date{
		font-size: 13px;
		margin-bottom: 10px;
		color:lighten($black-1,30);
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__brief{
		padding-top: 10px;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__title{
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 5px;
		@media(min-width:$tablet_landscape_width){

		}
	}

	&__text{
		font-size: 14px;
		font-weight: 400;
		color: lighten($black-1,20);
		@media(min-width:$tablet_landscape_width){

		}
		p{
			margin-bottom: 0;
		}
	}

	&__btn{
		@extend .vk-btn,.vk-btn--link;
		padding-left: 0;
		font-size: 14px;
		._icon{
			padding-left: 5px;
		}

		@media(min-width:$tablet_landscape_width){

		}

	}




	&--style-1{
		@media(min-width:$tablet_landscape_width){
			display: flex;

		}
		.vk-blog-item{
			&__img{
				width: 280px;
				height: 180px;
			}
			&__brief{
				width: 1%;
				flex: 1 1 auto;
				padding-top: 0;
				padding-left: 10px;
			}

		}

	}

}

.vk-blog-detail{
	&__heading{
		@extend .vk-heading--style-1;
	}
	&__content{
		img{
			img{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.vk-blog{
	&__heading{
		@extend .vk-heading--style-1;
	}
	&__title{
		@extend .vk-heading--style-1;
	}


	&__relate{

	}





}

/*END: BLOG*/
