/*BEGIN: CONTACT*/

.vk-contact-item{
	.vk-img{
		@media (min-width: $tablet_landscape_width) {

		}
	}
	&__brief{
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__title{
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__text{
		@media(min-width:$tablet_landscape_width){

		}
		p{
			margin-bottom: 0;
		}
	}
}

.vk-contact{
	&__heading{
		@extend .vk-heading--style-1;
	}
	&__title{
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	&__list{
		@extend .vk-list--style-2;
	}
	&__map{
		iframe{
			width: 100% !important;
		}
	}
}

/*END: CONTACT*/
