/*BEGIN: BASE*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $color-default;
}
img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    @include transition(0.3s);
    &:hover, &:focus {
        color: $pink-1;
        text-decoration: none;
    }
}
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*END: BASE*/

