//OVERRIDE PLUGIN
.nice-select {
	float: none;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 9;
	position: relative;
}

.vk-animation{
	opacity: 0;}

//bootstrap
.container {
	position: relative;
	@media (min-width: $pc_width) {
		max-width: $pc_width;
	}
}

.d-inline-block,
.d-inline-flex {
	vertical-align: top;
}



.animsition-loading {
	background-color: transparent;
	border-top: 2px solid rgba($pink-1, .2);
	border-right: 2px solid rgba($pink-1, .2);
	border-bottom: 2px solid rgba($pink-1, .2);
	border-left: 2px solid $pink-1;
}

//scrollUp
#scrollUp {
	bottom: 20px;
	right: 20px;
	background-color: $pink-1;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	opacity: .5;
	padding: 10px 20px;
	transition: background 300ms linear;
	-webkit-backface-visibility: hidden;
	&:hover {
		opacity: 1;
		//background-color: $pink-1;
		//color:$white;
	}
}





