@mixin transition($timer){
    -webkit-transition:all $timer ease-in-out;
    -moz-transition:all $timer ease-in-out;
    -o-transition:all $timer ease-in-out;
    transition: all $timer ease-in-out;
}

@mixin clearfix(){
    &:after{
        clear: both;
        content: "";
        display: table;
    }
}
@mixin size($size){
   width:$size;
   height:$size;
}

@mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin truncate-line($number){
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:$number;

}

@mixin placeholder-color{
    &::-webkit-input-placeholder{@content;}
    &::-moz-placeholder{@content}
    &:-ms-input-placeholder{@content}
    &:-moz-placeholder {@content}
}

//bootstrap

@mixin hover {

    &:hover { @content }
    // scss-lint:enable Indentation
    //  }
}
@mixin hover-focus {
    &:focus,
    &:hover {
        @content
    }
}


@mixin before-after {
    &:before,
    &:after {
        @content
    }
}
