/*BEGIN: CHECKOUT*/
.vk-checkout-item {
	@extend .vk-shopcart-item;
	&__img {
		@extend .vk-shopcart-item__img;
		@media(min-width: $tablet_landscape_width) {

		}
	}

	&__brief {
		@extend .vk-shopcart-item__brief;
		@media(min-width: $tablet_landscape_width) {

		}
	}
	&__title {
		@extend .vk-shopcart-item__title;
		margin-bottom: 2px;
		@media(min-width: $tablet_landscape_width) {

		}
	}
	&__text {
		@extend .vk-shopcart-item__text;
		color: lighten($black-1, 30);
		font-size: 13px;
		@media(min-width: $tablet_landscape_width) {

		}
		p {
			margin-bottom: 0;
		}
	}
	&__price {
		font-weight: bold;
		margin-bottom: 5px;
	}
	&__qty {
		color: lighten($black-1, 30);
		font-size: 13px;
	}

}

.vk-checkout {
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%,rgba(183,173,112,1) 50%,rgba(247,247,247,1) 50%);	&__wrapper {
		&--left {
			@media(min-width: $tablet_landscape_width) {
				padding-right: 60px;
			}
		}
		&--right {
			@media(min-width: $tablet_landscape_width) {
				padding-left: 60px;
			}
		}

	}
	&__coupon{
		font-size: 14px;
		width: 100%;
		.form-control{
			min-height: 0;
			height: 35px;
		}
		.btn{
			height: 35px;
			font-size: 14px;
		}
		._hint{
			font-size: 13px;
			padding-top: 5px;
			color:$red-1;
		}
	}
	&__text{
		&--id{
			transform: translateY(-10px);
		}
	}
	&__sum{
		border-top:4px solid $grey-4;;
		margin-top: 30px;
	}
	&__box {
		padding-bottom: 30px;
	}
	&__title {
		@extend .vk-shopcart__title;
		&--style-1 {
			@extend .vk-checkout__title;
			font-size: 18px;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		&:not(:first-child) {
			border-top: 1px solid $grey-4;
		}
		._right {
			text-align: right;
		}
		._bold {
			font-size: 18px;
			font-weight: bold;
		}

		&--style-1 {
			@extend .vk-checkout__row;
			flex-direction: column;
		}
		&--inner {
			@extend .vk-checkout__row;
			align-items: flex-end;
			border-top: none !important;
		}
		&--style-2{
			@extend .vk-checkout__row;
			._right{
				color:$red;
			}
		}
	}
	&__button {
		margin-top: 20px;
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top:4px solid $grey-4;
		* {
			margin: 5px;
			width: 100%;
			@media(min-width: $mobile_landscape_width) {
				width: auto;
			}
		}
	}

}

.vk-bank-item {
	display: flex;
	&__img {
		@extend .vk-img, .vk-img--mw100;
		width: 200px;
		height: 140px;
		background-color: $grey-4;
	}
	&__brief {
		width: 1%;
		flex: 1 1 auto;
		margin-left: 5px;
		padding-left: 5px;
		padding-top: 10px;
		border-left: 1px solid rgba($pink-1, .5);
	}
	&__title {
		font-size: 16px;
		font-weight: 600;
		padding-left: 10px;

		text-transform: uppercase;
		font-style: italic;
		border-bottom: 1px solid rgba($pink-1, .5);
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	&__text {
		padding-left: 10px;
		p {
			margin-bottom: 0;
		}
	}
}

.vk-bank {
	&__content {

		margin-top: 20px;
		padding: 5px;
		border: 1px solid $pink-1;
		//box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($grey-4, 0.25);

	}
	&__img {
		@extend .vk-img, .vk-img--mw100;
		height: 80px;
		background-color: $grey-4;
		border: 1px solid transparent;
		position: relative;
		&:after {
			content: "\f00c";
			font-family: FontAwesome;
			color: $white;
			position: absolute;
			bottom: 0;
			right: 2px;
			font-size: 13px;
			display: none;
		}
		&:before {
			content: '';
			@include size(50px);
			background-color: $pink-1;
			position: absolute;
			bottom: -1px;
			right: -1px;
			transform: rotate(45deg) translate(70%, 0%);
			display: none;
		}
	}
	&__list {
		@extend .vk-list;
		display: flex;
		flex-wrap: wrap;

		li {
			padding: 5px;
			max-width: 25%;
			flex: 0 0 25%;

			&.active {
				.vk-bank__img {
					border-color: $pink-1;
					&:after, &:before {
						display: block;
					}
				}

			}
			&:hover {
				.vk-bank__img {
					border-color: $pink-1;
				}
			}
		}
	}
}

/*END: CHECKOUT*/
