/*BEGIN:SHOP*/

.vk-shop-item{

	padding:15px 0;
	@media(min-width:$tablet_landscape_width){
	}

	&__img{
		@extend .vk-img,.vk-img--mw100;
		min-height: 200px;
		background-color: $grey-1;
		@media(min-width:$tablet_landscape_width){

		}
	}

	&__title{
		font-size: 18px;
		margin-bottom: 5px;
		font-weight: 600;
		@media(min-width:$tablet_landscape_width){
		}
	}
	&__brief{
		padding-top: 10px;
		@media(min-width:$tablet_landscape_width){
		}
	}
	&__price{

		@media(min-width:$tablet_landscape_width){
		}
	}
	&__text{

		@media(min-width:$tablet_landscape_width){
		}
		p{
			margin-bottom: 0;
		}
	}

	&__button{
		@media(min-width:$tablet_landscape_width){
		}
	}



	&--style-1{
		.vk-shop-item{

		}
	}
}

.vk-sd-nav-item{
	padding-left: 5px;
	padding-right: 5px;
}

.vk-shop-detail{
	&__heading{
		@extend .vk-heading--style-1;
	}
	&__for{
		margin-bottom: 10px;
	}
	&__nav{
		margin-left: -5px;
		margin-right: -5px;
	}
	&__short-content{
		margin-bottom: 10px;
		p{
			margin-bottom: 0;
		}
	}
	&__qty{
		margin-bottom: 10px;
		label{
			display: block;
		}
	}
	&__btn-addtocart{
		@extend .vk-btn,.vk-btn--default;
	}
	&__content{
		img{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.vk-shop{
	&__relate{

		@media(min-width:$tablet_landscape_width){
		}
	}

	&__list{

		@media(min-width:$tablet_landscape_width){
		}
	}
}

/*END:SHOP*/