/*BEGIN: BASE*/
a { color: inherit; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

a:hover, a:focus { color: #348dcc; text-decoration: none; }

input[type='number'] { -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

/*END: BASE*/

/*BEGIN: BUTTON*/
.vk-btn, .vk-shopcart__btn-continue, .vk-shopcart__btn-removeAll, .vk-shopcart__btn-checkout { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; font-weight: normal; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; padding: 0.5rem 0.75rem; font-size: 1rem; line-height: 1.25; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; border-radius: 0.25rem; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }

.vk-btn:focus, .vk-shopcart__btn-continue:focus, .vk-shopcart__btn-removeAll:focus, .vk-shopcart__btn-checkout:focus, .vk-btn:hover, .vk-shopcart__btn-continue:hover, .vk-shopcart__btn-removeAll:hover, .vk-shopcart__btn-checkout:hover { text-decoration: none; }

.vk-btn:focus, .vk-shopcart__btn-continue:focus, .vk-shopcart__btn-removeAll:focus, .vk-shopcart__btn-checkout:focus, .vk-btn.focus, .focus.vk-shopcart__btn-continue, .focus.vk-shopcart__btn-removeAll, .focus.vk-shopcart__btn-checkout { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); }

.vk-btn.disabled, .disabled.vk-shopcart__btn-continue, .disabled.vk-shopcart__btn-removeAll, .disabled.vk-shopcart__btn-checkout, .vk-btn:disabled, .vk-shopcart__btn-continue:disabled, .vk-shopcart__btn-removeAll:disabled, .vk-shopcart__btn-checkout:disabled { opacity: .65; -webkit-box-shadow: none; box-shadow: none; }

.vk-btn:active, .vk-shopcart__btn-continue:active, .vk-shopcart__btn-removeAll:active, .vk-shopcart__btn-checkout:active, .vk-btn.active, .active.vk-shopcart__btn-continue, .active.vk-shopcart__btn-removeAll, .active.vk-shopcart__btn-checkout { background-image: none; }

a.vk-btn.disabled, a.disabled.vk-shopcart__btn-continue, a.disabled.vk-shopcart__btn-removeAll, a.disabled.vk-shopcart__btn-checkout, fieldset[disabled] a.vk-btn, fieldset[disabled] a.vk-shopcart__btn-continue, fieldset[disabled] a.vk-shopcart__btn-removeAll, fieldset[disabled] a.vk-shopcart__btn-checkout { pointer-events: none; }

.vk-btn--danger, .vk-shopcart__btn-removeAll { color: #fff; background-color: #dc3545; border-color: #dc3545; }

.vk-btn--danger:hover, .vk-shopcart__btn-removeAll:hover { color: #fff; background-color: #c82333; border-color: #bd2130; }

.vk-btn--danger:focus, .vk-shopcart__btn-removeAll:focus, .vk-btn--danger.focus, .focus.vk-shopcart__btn-removeAll { -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(220, 53, 69, 0.5); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(220, 53, 69, 0.5); color: #fff; }

.vk-btn--danger.disabled, .disabled.vk-shopcart__btn-removeAll, .vk-btn--danger:disabled, .vk-shopcart__btn-removeAll:disabled { background-color: #dc3545; border-color: #dc3545; }

.vk-btn--danger:active, .vk-shopcart__btn-removeAll:active, .vk-btn--danger.active, .active.vk-shopcart__btn-removeAll, .show > .vk-btn--danger.dropdown-toggle, .show > .dropdown-toggle.vk-shopcart__btn-removeAll { background-color: #c82333; background-image: none; border-color: #bd2130; }

.vk-btn--blue-1, .vk-shopcart__btn-checkout { color: #fff; background-color: #348dcc; border-color: #348dcc; }

.vk-btn--blue-1:hover, .vk-shopcart__btn-checkout:hover { color: #fff; background-color: #2c78ae; border-color: #2971a4; }

.vk-btn--blue-1:focus, .vk-shopcart__btn-checkout:focus, .vk-btn--blue-1.focus, .focus.vk-shopcart__btn-checkout { -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(52, 141, 204, 0.5); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(52, 141, 204, 0.5); color: #fff; }

.vk-btn--blue-1.disabled, .disabled.vk-shopcart__btn-checkout, .vk-btn--blue-1:disabled, .vk-shopcart__btn-checkout:disabled { background-color: #348dcc; border-color: #348dcc; }

.vk-btn--blue-1:active, .vk-shopcart__btn-checkout:active, .vk-btn--blue-1.active, .active.vk-shopcart__btn-checkout, .show > .vk-btn--blue-1.dropdown-toggle, .show > .dropdown-toggle.vk-shopcart__btn-checkout { background-color: #2c78ae; background-image: none; border-color: #2971a4; }

.vk-btn--link, .vk-shopcart__btn-continue { font-weight: normal; color: #007bff; border-radius: 0; }

.vk-btn--link, .vk-shopcart__btn-continue, .vk-btn--link:active, .vk-shopcart__btn-continue:active, .vk-btn--link.active, .active.vk-shopcart__btn-continue, .vk-btn--link:disabled, .vk-shopcart__btn-continue:disabled { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }

.vk-btn--link, .vk-shopcart__btn-continue, .vk-btn--link:focus, .vk-shopcart__btn-continue:focus, .vk-btn--link:active, .vk-shopcart__btn-continue:active { border-color: transparent; -webkit-box-shadow: none; box-shadow: none; }

.vk-btn--link:hover, .vk-shopcart__btn-continue:hover { border-color: transparent; }

.vk-btn--link:focus, .vk-shopcart__btn-continue:focus, .vk-btn--link:hover, .vk-shopcart__btn-continue:hover { color: #0056b3; text-decoration: underline; background-color: transparent; }

.vk-btn--link:disabled, .vk-shopcart__btn-continue:disabled { color: #868e96; }

.vk-btn--link:disabled:focus, .vk-shopcart__btn-continue:disabled:focus, .vk-btn--link:disabled:hover, .vk-shopcart__btn-continue:disabled:hover { text-decoration: none; }


/*END: BUTTON*/

/*BEGIN: IMG*/
.vk-img, .vk-shopcart-item__img, .vk-checkout-item__img, .vk-bank-item__img, .vk-bank__img { overflow: hidden; position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.vk-img img, .vk-shopcart-item__img img, .vk-checkout-item__img img, .vk-bank-item__img img, .vk-bank__img img { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 100%; }

.vk-img.MagicZoom img, .MagicZoom.vk-shopcart-item__img img, .MagicZoom.vk-checkout-item__img img, .MagicZoom.vk-bank-item__img img, .MagicZoom.vk-bank__img img { -webkit-transition: none; -o-transition: none; transition: none; }

.vk-img:focus, .vk-shopcart-item__img:focus, .vk-checkout-item__img:focus, .vk-bank-item__img:focus, .vk-bank__img:focus, .vk-img:hover, .vk-shopcart-item__img:hover, .vk-checkout-item__img:hover, .vk-bank-item__img:hover, .vk-bank__img:hover { outline: none; }

.vk-img:focus .vk-img__img, .vk-shopcart-item__img:focus .vk-img__img, .vk-checkout-item__img:focus .vk-img__img, .vk-bank-item__img:focus .vk-img__img, .vk-bank__img:focus .vk-img__img, .vk-img:hover .vk-img__img, .vk-shopcart-item__img:hover .vk-img__img, .vk-checkout-item__img:hover .vk-img__img, .vk-bank-item__img:hover .vk-img__img, .vk-bank__img:hover .vk-img__img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.vk-img--mw100 img, .vk-bank-item__img img, .vk-bank__img img { width: auto !important; height: auto !important; max-width: 100% !important; max-height: 100% !important; }

.vk-img--cover img, .vk-shopcart-item__img img, .vk-checkout-item__img img { height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

.vk-img--no-animate img { -webkit-transition: none; -o-transition: none; transition: none; }

/*END: IMG*/

/*BEGIN: CALCULATOR*/
.vk-calculator { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; position: relative; }

.vk-calculator .form-control { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; text-align: center; border-radius: 0; border-color: #d7e9f5; padding-left: 45px; padding-right: 45px; width: 130px; }

.vk-calculator .vk-btn, .vk-calculator .vk-shopcart__btn-continue, .vk-calculator .vk-shopcart__btn-removeAll, .vk-calculator .vk-shopcart__btn-checkout { border-radius: 0; min-height: 0; background-color: #d7e9f5; position: absolute; top: 3px; bottom: 3px; }

.vk-calculator .vk-btn._minus, .vk-calculator ._minus.vk-shopcart__btn-continue, .vk-calculator ._minus.vk-shopcart__btn-removeAll, .vk-calculator ._minus.vk-shopcart__btn-checkout { left: 3px; }

.vk-calculator .vk-btn._plus, .vk-calculator ._plus.vk-shopcart__btn-continue, .vk-calculator ._plus.vk-shopcart__btn-removeAll, .vk-calculator ._plus.vk-shopcart__btn-checkout { right: 3px; }

/*END: CALCULATOR*/

/*BEGIN: FORM*/

.vk-form--checkout ._title { font-size: 16px; font-weight: 600; padding-top: 10px; }

.vk-form--checkout ._noti { font-size: 13px; font-weight: 400; }

.vk-form--checkout ._label { position: absolute; left: 0; top: 20px; color: #acacac; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }

.vk-form--checkout .form-group { position: relative; margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.vk-form--checkout .form-control { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; border-radius: 0; border-top: none; border-left: none; border-right: none; padding-left: 0; padding-right: 0; }

.vk-form--checkout .form-control.active ~ ._label { top: 0; font-size: 12px; }

.vk-form--checkout .form-control:focus { -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(52, 141, 204, 0.25); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(52, 141, 204, 0.25); }

.vk-form--checkout .form-control:focus ~ ._label { color: #348dcc; }

.vk-form--checkout .form-control:focus.error ~ ._label { color: #dc3545; }

.vk-form--checkout .form-control:focus.valid ~ ._label { color: #28a745; }

.vk-form--checkout .form-control.error { -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(220, 53, 69, 0.25); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(220, 53, 69, 0.25); border-color: #dc3545; }

.vk-form--checkout .form-control.valid { -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(40, 167, 69, 0.25); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(40, 167, 69, 0.25); border-color: #28a745; }

.vk-form--checkout input.form-control, .vk-form--checkout textarea.form-control { padding-top: 20px; min-height: 50px; }

.vk-form--checkout textarea.form-control { min-height: 80px; }

.vk-form--checkout select.form-control { min-height: 45px; }

.vk-form--checkout label { margin-bottom: 0; }

.vk-form--checkout label.error { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; font-size: 13px; padding-top: 10px; color: #dc3545; }

/*END: FORM*/

/*BEGIN: ACCORDION*/

.accordion--style-3 .card { border-radius: 0; border: 1px solid #e1e1e1; }

.accordion--style-3 .card-header { background-color: #fff; padding: 0; border: none; -webkit-box-sizing: content-box; box-sizing: content-box; }

.accordion--style-3 .card-link { display: block; padding: 10px 10px; padding-left: 50px; position: relative; background-color: white; }

.accordion--style-3 .card-link:before { content: ''; width: 20px; height: 20px; border: 1px solid #348dcc; border-radius: 50%; position: absolute; left: 15px; top: 11px; }

.accordion--style-3 .card-link:after { content: ''; width: 14px; height: 14px; top: 14px; left: 18px; position: absolute; background-color: #fff; border-radius: 50%; border: 5px solid #348dcc; }

.accordion--style-3 .card-link.collapsed { background-color: #fff; }

.accordion--style-3 .card-link.collapsed:after { display: none; }

.accordion--style-3 .card-body { border-top: 1px solid #e1e1e1; }

/*END: ACCORDION*/



/*BEGIN: TABLE*/
.vk-table--cart { margin-bottom: 0; }

.vk-table--cart td, .vk-table--cart th { padding: 10px 15px; vertical-align: middle; }

.vk-table--cart td:nth-child(n+3), .vk-table--cart th:nth-child(n+3) { text-align: center; }

.vk-table--cart thead td, .vk-table--cart thead th { background-color: #f0f0f0; font-weight: bold; border-top: none; border-bottom: none; }

.vk-table--cart tbody td, .vk-table--cart tbody th { border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }

/*END: TABLE*/

/*BEGIN: SHOPCART*/
.vk-shopcart-item, .vk-checkout-item { display: -webkit-box; display: -ms-flexbox; display: flex; }

.vk-shopcart-item__img, .vk-checkout-item__img { width: 60px; height: 60px; background-color: #ebebeb; }

.vk-shopcart-item__brief, .vk-checkout-item__brief { padding-left: 15px; min-width: 200px; width: 1%; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.vk-shopcart-item__title, .vk-checkout-item__title { font-size: 15px; margin-bottom: 5px; }

.vk-shopcart-item__text, .vk-checkout-item__text { font-size: 13px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 5px; color: #797979; }

.vk-shopcart-item__text ._color, .vk-checkout-item__text ._color { display: inline-block; background-color: #e1e1e1; width: 20px; height: 20px; margin-left: 8px; }

.vk-shopcart-item__text ._color img, .vk-checkout-item__text ._color img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.vk-shopcart-item__text p, .vk-checkout-item__text p { margin-bottom: 0; }

.vk-shopcart-item__text p:first-child, .vk-checkout-item__text p:first-child { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.vk-shopcart-item__text p:after, .vk-checkout-item__text p:after { content: '|'; padding: 0 10px; font-size: 12px; }

.vk-shopcart-item__text p:last-child:after, .vk-checkout-item__text p:last-child:after { display: none; }

.vk-shopcart-item__price, .vk-shopcart-item__price--total, .vk-shopcart-item__price--box { white-space: nowrap; }

.vk-shopcart-item__btn-del { color: #dc3545; }

.vk-shopcart-item__btn-del ._icon { background-color: #dc3545; color: #fff; padding: 5px; border-radius: 3px; margin-right: 5px; }

.vk-shopcart-item__text p, .vk-checkout-item__text p { margin-bottom: 0; }

.vk-shopcart__title, .vk-checkout__title, .vk-checkout__title--style-1 { font-size: 24px; font-weight: 600; margin-bottom: 20px; }

.vk-shopcart__total { background-color: #ebebeb; padding: 10px 15px; text-align: right; font-size: 18px; font-weight: 500; font-style: italic; }

.vk-shopcart__total b, .vk-shopcart__total span { color: #dc3545; }

.vk-shopcart__bot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 20px; }

.vk-shopcart__btn-continue { font-size: 14px; text-transform: uppercase; min-height: 40px; padding-left: 0px; padding-right: 20px; }

.vk-shopcart__btn-continue ._icon { padding-right: 5px; }

.vk-shopcart__btn-removeAll { font-size: 14px; min-height: 40px; text-transform: uppercase; padding-left: 20px; padding-right: 20px; }

.vk-shopcart__btn-checkout { font-size: 14px; text-transform: uppercase; min-height: 40px; padding-left: 20px; padding-right: 20px; }

/*END: SHOPCART*/
/*BEGIN: CHECKOUT*/
.vk-checkout-item__title { margin-bottom: 2px; }

.vk-checkout-item__text { color: #939393; font-size: 13px; }

.vk-checkout-item__text p { margin-bottom: 0; }

.vk-checkout-item__price { font-weight: bold; margin-bottom: 5px; }

.vk-checkout-item__qty { color: #939393; font-size: 13px; }

.vk-checkout { background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, white), color-stop(50%, #b7ad70), color-stop(50%, #f7f7f7)); background: -webkit-linear-gradient(left, white 0%, white 50%, white 50%, #b7ad70 50%, #f7f7f7 50%); background: -o-linear-gradient(left, white 0%, white 50%, white 50%, #b7ad70 50%, #f7f7f7 50%); background: linear-gradient(to right, white 0%, white 50%, white 50%, #b7ad70 50%, #f7f7f7 50%); }

@media (min-width: 992px) { .vk-checkout__wrapper--left { padding-right: 60px; } }

@media (min-width: 992px) { .vk-checkout__wrapper--right { padding-left: 60px; } }

.vk-checkout__coupon { font-size: 14px; width:100%}

.vk-checkout__coupon .form-control { min-height: 0; height: 35px; }

.vk-checkout__coupon .btn { height: 35px; font-size: 14px; }

.vk-checkout__coupon ._hint { font-size: 13px; padding-top: 5px; color: #ff0000; }

.vk-checkout__text--id { -webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px); }

.vk-checkout__sum { border-top: 4px solid #ebebeb; margin-top: 30px; }

.vk-checkout__box { padding-bottom: 30px; }

.vk-checkout__title--style-1 { font-size: 18px; }

.vk-checkout__row, .vk-checkout__row--style-1, .vk-checkout__row--inner, .vk-checkout__row--style-2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px 0; }

.vk-checkout__row:not(:first-child), .vk-checkout__row--style-1:not(:first-child), .vk-checkout__row--inner:not(:first-child), .vk-checkout__row--style-2:not(:first-child) { border-top: 1px solid #ebebeb; }

.vk-checkout__row ._right, .vk-checkout__row--style-1 ._right, .vk-checkout__row--inner ._right, .vk-checkout__row--style-2 ._right { text-align: right; }

.vk-checkout__row ._bold, .vk-checkout__row--style-1 ._bold, .vk-checkout__row--inner ._bold, .vk-checkout__row--style-2 ._bold { font-size: 18px; font-weight: bold; }

.vk-checkout__row--style-1 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.vk-checkout__row--inner { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; border-top: none !important; }

.vk-checkout__row--style-2 ._right { color: #dc3545; }

.vk-checkout__button { margin-top: 20px; padding-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-top: 4px solid #ebebeb; }

.vk-checkout__button * { margin: 5px; width: 100%; }

@media (min-width: 576px) { .vk-checkout__button * { width: auto; } }

.vk-bank-item { display: -webkit-box; display: -ms-flexbox; display: flex; }

.vk-bank-item__img { width: 200px; height: 140px; background-color: #ebebeb; }

.vk-bank-item__brief { width: 1%; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; margin-left: 5px; padding-left: 5px; padding-top: 10px; border-left: 1px solid rgba(52, 141, 204, 0.5); }

.vk-bank-item__title { font-size: 16px; font-weight: 600; padding-left: 10px; text-transform: uppercase; font-style: italic; border-bottom: 1px solid rgba(52, 141, 204, 0.5); padding-bottom: 5px; margin-bottom: 10px; }

.vk-bank-item__text { padding-left: 10px; }

.vk-bank-item__text p { margin-bottom: 0; }

.vk-bank__content { margin-top: 20px; padding: 5px; border: 1px solid #348dcc; }

.vk-bank__img { height: 80px; background-color: #ebebeb; border: 1px solid transparent; position: relative; }

.vk-bank__img:after { content: "\f00c"; font-family: FontAwesome; color: #fff; position: absolute; bottom: 0; right: 2px; font-size: 13px; display: none; }

.vk-bank__img:before { content: ''; width: 50px; height: 50px; background-color: #348dcc; position: absolute; bottom: -1px; right: -1px; -webkit-transform: rotate(45deg) translate(70%, 0%); -ms-transform: rotate(45deg) translate(70%, 0%); transform: rotate(45deg) translate(70%, 0%); display: none; }

.vk-bank__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.vk-bank__list li { padding: 5px; max-width: 25%; -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; }

.vk-bank__list li.active .vk-bank__img { border-color: #348dcc; }

.vk-bank__list li.active .vk-bank__img:after, .vk-bank__list li.active .vk-bank__img:before { display: block; }

.vk-bank__list li:hover .vk-bank__img { border-color: #348dcc; }

/*END: CHECKOUT*/

