<!-- BEGIN: main -->
<div class="vk-breadcrumb">
    <nav class="container">
        <ul class="vk-breadcrumb__list">
            <li><a href="index.php"><i class="vk-icon fa fa-home"></i></a></li>
            <!-- BEGIN: loop -->
            <li><a href="{LINK}">{PAGE}</a></li>
            <!-- END: loop -->
            <li class="active">{CURRENT_PAGE}</li>
        </ul>
    </nav>
</div>
<!--./vk-breadcrumb-->
<!-- END: main -->