<!-- BEGIN: main -->
<script src="../../plugin/main.js"></script></section>
<!--./content-->

<footer class="vk-footer">

    <div class="vk-footer__top">
        <div class="container">
            <div class="vk-footer__top-content row">
                <div class="col-lg-3">
                    <div class="vk-footer__item">

                        <a href="index.php" class="vk-footer__logo">
                            <img src="images/logo-2.png" alt="LOGO">
                        </a>

                        <div class="vk-footer__text">
                            <p>
                                Văn bản mẫu viết ra để đây để kiểm tra đoạn văn bản có ổn hay không ngoài ra còn có mục
                                địch là làm đẹp cho trang web, trong các loại văn bản thì văn bản này là hay nhất :3
                            </p>
                            <ul class="vk-footer__list vk-footer__list--style-2">
                                <li><i class="_icon fa fa-map-marker"></i> <b>Địa chỉ:</b> Tầng 8, Tòa nhà TOYOTA Thanh Xuân, 315 Trường Chinh, Thanh Xuân, Hà Nội</li>
                                <li><i class="_icon fa fa-phone"></i> <b>Hotline:</b> <a href="tel:(023)7 309 885">(023)7 309 885</a></li>
                                <li><i class="_icon fa fa-envelope"></i> <b>Email:</b> <a href="mailto:info@gco.vn">info@gco.vn</a></li>
                            </ul>
                        </div>


                    </div> <!--./item-->
                </div> <!--./col-->

                <div class="col-lg-3">
                    <div class="vk-footer__item">
                        <h2 class="vk-footer__title">Danh mục</h2>
                        <ul class="vk-footer__list vk-footer__list--style-3">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Tin tuwcs</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div> <!--./item-->
                </div> <!--./col-->

                <div class="col-lg-3">
                    <div class="vk-footer__item">
                        <h2 class="vk-footer__title">Dịch vụ</h2>
                        <ul class="vk-footer__list vk-footer__list--style-3">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Tin tuwcs</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div> <!--./item-->
                </div> <!--./col-->

                <div class="col-lg-3">
                    <div class="vk-footer__item">
                        <h2 class="vk-footer__title">Theo dõi chúng tôi</h2>

                        <ul class="vk-footer__list vk-footer__list--style-1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div> <!--./item-->
                </div> <!--./col-->

            </div> <!--./top-content-->
        </div> <!--./container-->
    </div> <!--./top-->


    <div class="vk-footer__bot">
        <div class="container">
            © 2018 - All rights reserved by <a href="#">GCO Group</a>.
        </div>
    </div> <!--./vk-footer__bot-->
</footer><!--./vk-footer-->

<nav class="" id="menu">
    <ul class="">
        <li><a href="index.php">Trang chủ</a></li>
        <li>
            <a href="shop.php">Sản phẩm</a>
            <ul class="vk-menu__child">
                <li><a href="shop.php">Danh mục sản phẩm</a></li>
                <li>
                    <a href="shop.php">Danh mục sản phẩm</a>
                    <ul class="vk-menu__child">
                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                    </ul>
                </li>
                <li><a href="shop.php">Danh mục sản phẩm</a></li>
                <li><a href="shop.php">Danh mục sản phẩm</a></li>
            </ul>
        </li>
        <li><a href="blog.php">Tin tức</a></li>
        <li><a href="about.php">Giới thiệu</a></li>
        <li><a href="contact.php">Liên hệ</a></li>
    </ul>
</nav>
<!-- END: main -->