<!-- BEGIN: main -->
<header class="vk-header">
   <div class="vk-header__top">
       <div class="container">
           <div class="vk-header__top-content">
               <div class="_left"></div>
               <div class="_right"></div>
           </div>
       </div> <!--./container-->
   </div> <!--./top-->

    <div class="vk-header__mid">
        <div class="container">
            <div class="vk-header__mid-content">

                <a href="index.php" class="vk-header__logo">
                    <img src="images/logo-1.png" alt="LOGO">
                </a>

                <div class="vk-header__mid-right">
                    <div class="vk-header__search">
                        <div class="vk-form vk-form--search">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
                            <button class="vk-btn"><i class="ti-search mr-10"></i>TÌM KIẾM</button>
                        </div>
                    </div> <!--./search-->

                    <div class="vk-header__minicart">
                        <a href="shopcart.php" class="vk-btn vk-btn--secondary vk-header__btn vk-header__btn--minicart"><i class="ti-shopping-cart"></i> <span class="_num">0</span></a>
                        <div class="vk-minicart">
                            <div class="vk-minicart__list">
                                <div class="vk-minicart-item">
                                    <a href="#" class="vk-minicart-item__img">
                                        <img src="images/cart-1.jpg" alt="">
                                    </a>
                                    <div class="vk-minicart-item__brief">
                                        <h3 class="vk-minicart-item__title">Tiêu đề  mẫu</h3>
                                        <div class="vk-minicat-item__text">
                                            Nội dung
                                        </div>
                                    </div>
                                </div> <!--./item-->

                                <div class="vk-minicart-item">
                                    <a href="#" class="vk-minicart-item__img">
                                        <img src="images/cart-1.jpg" alt="">
                                    </a>
                                    <div class="vk-minicart-item__brief">
                                        <h3 class="vk-minicart-item__title">Tiêu đề  mẫu</h3>
                                        <div class="vk-minicat-item__text">
                                            Nội dung
                                        </div>
                                    </div>
                                </div> <!--./item-->

                            </div> <!--./list-->

                            <div class="vk-minicart__total">
                                <span>Tổng:</span>
                                <span>500.000đ</span>
                            </div> <!--./total-->

                            <div class="vk-minicart__button">
                                <a href="shopcart.php" class="vk-minicart__btn">Giỏ hàng</a>
                                <a href="checkout.php" class="vk-minicart__btn">Thanh toán</a>
                            </div>

                        </div> <!--./minicart-->
                    </div>

                    <a href="#menu" class="vk-btn vk-btn--secondary vk-header__btn vk-header__btn--menu" ><i class="ti-menu"></i></a>

                </div> <!--./right-->

            </div>
        </div> <!--./container-->
    </div> <!--./mid-->

    <div class="vk-header__bot">
        <div class="container">
            <div class="vk-header__bot-content">
                <nav class="vk-header__menu">
                    <ul class="vk-menu__main">
                        <li><a href="index.php">Trang chủ</a></li>
                        <li>
                            <a href="shop.php">Sản phẩm</a>
                            <ul class="vk-menu__child">
                                <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                <li>
                                    <a href="shop.php">Danh mục sản phẩm</a>
                                    <ul class="vk-menu__child">
                                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                        <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.php">Danh mục sản phẩm</a></li>
                                <li><a href="shop.php">Danh mục sản phẩm</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.php">Tin tức</a></li>
                        <li><a href="about.php">Giới thiệu</a></li>
                        <li><a href="contact.php">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div> <!--./container-->
    </div> <!--./bot-->

</header> <!--./vk-header-->

<section class="vk-content">
    <!-- END: main -->