/*BEGIN:SIDEBAR*/

.vk-sidebar{
	&__box{
		margin-bottom: 30px;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__title{
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: 600;
		@media(min-width:$tablet_landscape_width){

		}
	}

	&__list{
		@extend .vk-list;
		&--shop{
			li{
				+li{
					border-top:1px solid $grey-1;
				}
				a{
					display: block;
					padding:8px 0;

				}
			}
		}

		&--blog{
			li{
				+li{
					border-top:1px dashed $grey-1;
				}
				a{

					display: block;
					padding:8px 0;
					padding-left: 15px;
					position: relative;
					&:before{
						content:'';
						@include size(5px);
						background-color: $black-1;
						position: absolute;
						top: 19px;
						left: 0;

					}

				}
			}
		}

	}
}

/*END:SIDEBAR*/
