<meta charset="UTF-8" />
<link rel="stylesheet" href="libs/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/styles.css">


<script src="libs/jquery/jquery-3.2.1.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/jquery-validation/jquery.validate.min.js"></script>
<script src="libs/numeral/numeral.min.js"></script>


<script src="libs/main.min.js"></script>

<form class="vk-checkout pt-5 pb-5" id="checkoutForm">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vk-checkout__wrapper--left">

                    <h2 class="vk-checkout__title">Thông tin khách hàng</h2>

                    <div class="vk-checkout__box">
                        <div class="vk-form--checkout">
                            <div class="form-group form-group--label _row">
                                <input type="text" class="form-control" name="fullname" id="fullname">
                                <label for="fullname" class="_label">Họ tên khách hàng</label>
                            </div>

                            <div class="form-group form-group--label _row">
                                <input type="tel" class="form-control" name="tel" id="tel">
                                <label for="tel" class="_label">Số điện thoại</label>
                            </div>

                            <div class="_row">
                                <h3 class="_title">Địa chỉ nhận hàng</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group--style-1">
                                            <select class="form-control" name="province">
                                                <option value="0">Tỉnh / TP</option>
                                                <option value="1">Tỉnh / TP1</option>
                                                <option value="2">Tỉnh / TP2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group form-group--style-1">
                                            <select class="form-control" name="district">
                                                <option value="0">Quận huyện</option>
                                                <option value="1">Quận huyện1</option>
                                                <option value="2">Quận huyện2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group--label">
                                <input type="text" class="form-control" name="addr" id="addr">
                                <label for="addr" class="_label">Địa chỉ (Ghi rõ đến số nhà, đường, phường,
                                    xã)</label>
                            </div>

                            <div class="form-group form-group--label">
                                <textarea class="form-control" id="content" name="content"></textarea>
                                <label for="content" class="_label">Nội dung đơn hàng</label>
                            </div>

                        </div>
                    </div> <!--./box-->

                    <div class="vk-checkout__box">
                        <h2 class="vk-checkout__title--style-1">Phương thức thanh toán</h2>

                        <div class="accordion accordion--style-3" id="accordionExample">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne"
                                       aria-expanded="false">
                                        Thanh toán khi nhận hàng
                                    </a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample" style="">
                                    <div class="card-body ">
                                        <p>
                                            Nhân viên của chúng tôi giao hàng đến quý khách, quý khách sẽ thanh toán
                                            đầy đủ 100% số tiền trực tiếp cho nhân viên của chúng tôi.
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">

                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false">
                                        Chuyển khoản ngân hàng
                                    </a>

                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample" style="">
                                    <div class="card-body">

                                        <ul class="vk-bank__list nav" data-list="active">
                                            <li class="active">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target1">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target2">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target3">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target4">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target5">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target6">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target7">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                            <li class="">
                                                <div class="vk-bank__img" data-toggle="tab" data-target="#target8">
                                                    <img src="images/bank-1.png" alt=""></div>
                                            </li>
                                        </ul>

                                        <div class="tab-content vk-bank__content">
                                            <div class="tab-pane fade show active" id="target1">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 1</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target2">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 2</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target3">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 3</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target4">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 1</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target5">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 2</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target6">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 3</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target7">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 2</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="target8">
                                                <div class="vk-bank-item">
                                                    <div class="vk-bank-item__img">
                                                        <img src="images/bank-1.png" alt="">
                                                    </div>
                                                    <div class="vk-bank-item__brief">
                                                        <h2 class="vk-bank-item__title">Tên chủ khoản 3</h2>
                                                        <div class="vk-bank-item__text">
                                                            <p>Số TK: <b>123 465 789 321</b></p>
                                                            <p>Chi nhánh: <b>Chi nhánh ĐNA</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!--./box-->

                </div> <!--./wrapper-->

            </div>

            <div class="col-lg-6 pt-5 pt-lg-0">

                <div class="vk-checkout__wrapper--right">

                    <div class="vk-checkout__box">
                        <h2 class="vk-checkout__title">Thông tin đơn hàng</h2>
                        <div class="vk-checkout__text--id">Mã đơn hàng: <b class="_hight">AIMER 0923</b></div>

                        <div class="vk-checkout__list">
                            <div class="vk-checkout__row">
                                <div class="_left">
                                    <div class="vk-checkout-item">
                                        <a href="#" class="vk-checkout-item__img">
                                            <img src="images/cart-1.jpg" alt="">
                                        </a>
                                        <div class="vk-checkout-item__brief">
                                            <h3 class="vk-checkout-item__title"><a href="#">Tiêu đề mẫu</a></h3>
                                            <div class="vk-checkout-item__text">
                                                <p>Màu sắc: <span class="_color"><img src="" alt=""></span></p>
                                                <p>Size: <span class="badge badge-secondary">XS</span></p>
                                            </div>
                                        </div>
                                    </div> <!--./item-->
                                </div> <!--./left-->


                                <div class="_right">
                                    <div class="vk-checkout-item__price">250.000đ</div>
                                    <div class="vk-checkout-item__qty">x1</div>
                                </div> <!--./right-->

                            </div> <!--./row-->

                            <div class="vk-checkout__row">
                                <div class="_left">
                                    <div class="vk-checkout-item">
                                        <a href="#" class="vk-checkout-item__img">
                                            <img src="images/cart-1.jpg" alt="">
                                        </a>
                                        <div class="vk-checkout-item__brief">
                                            <h3 class="vk-checkout-item__title"><a href="#">Tiêu đề mẫu</a></h3>
                                            <div class="vk-checkout-item__text">
                                                <p>Màu sắc: <span class="_color"><img src="" alt=""></span></p>
                                                <p>Size: <span class="badge badge-secondary">XS</span></p>
                                            </div>
                                        </div>
                                    </div> <!--./item-->
                                </div> <!--./left-->


                                <div class="_right">
                                    <div class="vk-checkout-item__price">250.000đ</div>
                                    <div class="vk-checkout-item__qty">x1</div>
                                </div> <!--./right-->

                            </div> <!--./row-->

                            <div class="vk-checkout__row">
                                <div class="_left">
                                    <div class="vk-checkout-item">
                                        <a href="#" class="vk-checkout-item__img">
                                            <img src="images/cart-1.jpg" alt="">
                                        </a>
                                        <div class="vk-checkout-item__brief">
                                            <h3 class="vk-checkout-item__title"><a href="#">Tiêu đề mẫu</a></h3>
                                            <div class="vk-checkout-item__text">
                                                <p>Màu sắc: <span class="_color"><img src="" alt=""></span></p>
                                                <p>Size: <span class="badge badge-secondary">XS</span></p>
                                            </div>
                                        </div>
                                    </div> <!--./item-->
                                </div> <!--./left-->


                                <div class="_right">
                                    <div class="vk-checkout-item__price">250.000đ</div>
                                    <div class="vk-checkout-item__qty">x1</div>
                                </div> <!--./right-->

                            </div> <!--./row-->
                        </div> <!--./list-->
                        <div class="vk-checkout__sum">
                            <div class="row justify-content-end">
                                <div class="col-lg-8">
                                    <div class="vk-checkout__list--sum">
                                        <div class="vk-checkout__row--style-1">
                                            <div class="vk-checkout__row--inner">
                                                <div class="_left">
                                                    Tạm tính
                                                </div>
                                                <div class="_right _bold">
                                                    <span>1.530.000</span> đ
                                                </div>
                                            </div>

                                            <div class="vk-checkout__row--inner">
                                                <div class="vk-checkout__coupon">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Nhập mã giảm giá">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-warning" type="button">Áp dụng</button>
                                                        </div>
                                                    </div>

                                                    <div class="_hint">
                                                        Coupon khuyến mãi 20% cho toàn bộ đơn hàng.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="vk-checkout__row--style-2">
                                            <div class="_left">
                                                Tổng chi phí
                                            </div>
                                            <div class="_right _bold">
                                                <span>1.530.000</span> đ
                                            </div>
                                        </div> <!--./row-->


                                    </div> <!--./sum-->

                                </div>
                            </div>
                        </div> <!--./sum-->


                        <div class="vk-checkout__button">

                            <a href="#" class="vk-shopcart__btn-continue"><i
                                    class="_icon fa fa-angle-double-right"></i>Tiếp tục mua hàng</a>

                            <button type="submit" href="#" class="vk-shopcart__btn-checkout">Thanh toán</button>


                        </div>
                    </div> <!--./box-->

                </div> <!--./wrapper-->


            </div>
        </div>
    </div>
</form>
