/*BEGIN: HEADER*/

.vk-header {

	&__top {
		min-height:40px;
		background-color: $grey-1;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__top-content {
		@media(min-width:$tablet_landscape_width){
			display: flex;
		}
	}
	&__mid {
		padding:10px 0;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__mid-content {
		display: flex;
		align-items: center;
		position: relative;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__mid-right{
		width: 1%;
		flex:1 1 auto;
		display: flex;
		justify-content: flex-end;
		@media(min-width:$tablet_landscape_width){
			position: relative;
		}
	}
	&__bot{
		background-color: $grey-1;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__bot-content {
		@media(min-width:$tablet_landscape_width){

		}
	}

	&__logo{
		display: block;
		width:100px;
		height: 60px;
		background-color: $grey-1;

		@media(min-width:$tablet_landscape_width){

		}
	}
	&__search{
		width: 100%;

		@media(min-width:$tablet_landscape_width){
			max-width: 500px;
			margin-left: 30px;
		}
	}
	&__minicart{
		margin-left: 30px;

		@media(min-width:$tablet_landscape_width){

		}

		&:hover{
			.vk-minicart{

				opacity: 1;
				visibility: visible;
			}

		}

	}
	&__mobile-menu{
		margin-left: 20px;
	}
	&__btn{
		min-height: 40px;
		&--menu{
			margin-left: 10px;

			@media(min-width:$tablet_landscape_width){
				display: none;
			}
		}
		&--minicart{
			position: relative;
			._num{
				position: absolute;
				background-color: $red-1;
				font-size: 13px;
				padding:1px 2px;
				border-radius: 5px;
				top: 0;
				right: 0;
			}
		}
	}



}
/*END: HEADER*/