/*BEGIN: FOOTER*/

.vk-footer{
    background-color: $grey-1;
    &__item{
        padding:20px 0;
        @media (min-width: $tablet_landscape_width) {
            padding:40px 0;
        }
    }
    &__logo{
        display: inline-block;
        background-color: $grey-1;
        margin-bottom: 10px;
        width: 100px;
        min-height: 60px;
        @media (min-width: $tablet_landscape_width) {

        }
    }

    &__title{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        @media (min-width: $tablet_landscape_width) {

        }
    }
    &__list{

        &--style-1{
            @extend .vk-list--style-1;
        }
        &--style-2{
            @extend .vk-list--style-2;
        }
        &--style-3{
            @extend .vk-list;
            li{
                padding:5px 0;
                position: relative;
                padding-left: 15px;
                &:before{
                    content:'';
                    @include size(5px);
                    background-color: $black-1;
                    position: absolute;
                    left: 0;
                    top: 15px;
                }
            }
        }
    }

    &__bot{
        background-color: $black-1;
        padding:10px 0;
        color:$white;
    }

}
/*END: FOOTER*/