<!-- begin: shop_item -->
<div class="{WRAPPER} _item">
    <div class="vk-shop-item {CLASS}">
        <a href="{LINK}" title="{TITLE}" class="vk-shop-item__img">
            <img src="images/{IMG}" alt="{TITLE}" class="_img">
        </a>

        <div class="vk-shop-item__brief">
            <h3 class="vk-shop-item__title"><a href="{LINK}" title="{TITLE}">{TITLE}</a></h3>
            <div class="vk-shop-item__price">{PRICE}</div>
        </div>
    </div> <!--./vk-shop-item-->
</div>
<!-- end: shop_item -->

<!-- begin: blog_item -->
<div class="{WRAPPER} _item">
    <div class="vk-blog-item {CLASS}">
        <a href="{LINK}" title="{TITLE}" class="vk-blog-item__img">
            <img src="images/{IMG}" alt="{TITLE}" class="_img">
        </a>
       
        <div class="vk-blog-item__brief">
            <h3 class="vk-blog-item__title"><a href="{LINK}" title="{TITLE}">{TITLE}</a></h3>
            <div class="vk-blog-item__date">Thứ Hai, 14/11/2016 00:13</div>
            <div class="vk-blog-item__text" data-truncate-lines="3">{TEXT}</div>
            <a href="{LINK}" class="vk-blog-item__btn">Xem thêm <i class="_icon ti-arrow-right"></i></a>
        </div>
    </div> <!--./vk-blog-item-->
</div>
<!-- end: blog_item -->