/*BEGIN: ACCORDION*/

$card-header-background: $white;
$card-border-color: $grey-1;

.accordion {

	&--style-1 {
		.card {
			border-radius: 0;
			border:1px solid $card-border-color;
		}
		.card-header {
			background-color: $card-header-background;
			padding: 0;
			border: none;

			box-sizing: content-box;
		}
		.card-link {
			display: block;
			padding: 5px 10px;
			position: relative;
		}
		.card-body {
			border-top: 1px solid $card-border-color;
		}
	}

	&--style-2 {
		.card {
			border-radius: 0;
			border:1px solid $card-border-color;
		}
		.card-header {
			background-color: $card-header-background;
			padding: 0;
			border: none;

			box-sizing: content-box;
		}
		.card-link {
			display: block;
			padding: 5px 10px;
			position: relative;
			&:after {
				content: "\f106";
				font-family: "FontAwesome";
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding:5px 15px;

			}
			&.collapsed{
				&:after {
					content: "\f107";
				}
			}
		}
		.card-body {
			border-top: 1px solid $card-border-color;
		}
	}

	&--style-3 {
		.card {
			border-radius: 0;
			border:1px solid $card-border-color;
		}
		.card-header {
			background-color: $card-header-background;
			padding: 0;
			border: none;

			box-sizing: content-box;
		}
		.card-link {
			display: block;
			padding: 10px 10px;
			padding-left: 50px;
			position: relative;
			background-color: lighten($pink-1,55);
			&:before{
				content:'';
				@include size(20px);
				border:1px solid $pink-1;
				border-radius: 50%;
				position: absolute;
				left: 15px;
				top: 11px;
			}
			&:after{
				content:'';
				@include size(14px);
				top: 14px;
				left: 18px;
				position: absolute;
				background-color: $white;
				border-radius: 50%;
				border:5px solid $pink-1;
			}
			&.collapsed{
				background-color: $white;
				&:after{
					display: none;

				}
			}
		}
		.card-body {
			border-top: 1px solid $card-border-color;
		}
	}

}

/*END: ACCORDION*/
