/*BEGIN: BREADCRUMB*/
.vk-breadcrumb {
	color: inherit;
	font-size: inherit;
	padding:5px 0;
	border-bottom:1px solid $grey-1;
	margin-bottom: 30px;
	&__list {
		@extend .vk-list,.vk-list--inline;

		li {
			padding:5px 0;
			&:not(:first-child) {
				&:before {
					content: '/';
					padding: 0px 8px;
				}
			}


		}
	}

}
/*END: BREADCRUMB*/
