/*BEGIN: CALCULATOR*/
$calculator-size: 40px;
$calculator-offset: 5px;
$calculator-field-size: $calculator-size*3 + $calculator-offset * 2;
$calculator-btn-offset:3px;

$calculator-border: lighten($pink-1,40);

.vk-calculator {
	display: inline-flex;
	position: relative;
	.form-control{
		order: 1;
		text-align: center;
		border-radius: 0;
		border-color: $calculator-border;
		padding-left: $calculator-size + $calculator-offset;
		padding-right: $calculator-size + $calculator-offset;
		width: $calculator-field-size;
	}

	.vk-btn{
		border-radius: 0;
		min-height: 0;
		background-color: $calculator-border;
		position: absolute;
		top: $calculator-btn-offset;
		bottom:$calculator-btn-offset;
		&._minus{
			left:$calculator-btn-offset;


		}
		&._plus{
			right:$calculator-btn-offset;
		}
	}
}

/*END: CALCULATOR*/
