/*BEGIN: DISTANCE*/


@mixin distanceRender($position,$key,$endPoint:100,$jump:5){

	$i: 0;
	@while $i <= $endPoint{

		.#{$key}-#{$i}{
			#{$position}: #{$i}px !important;
		}

		$i : $i+$jump;

	}
	//@for $i from 0 through $endPoint {
	//
	//}

	@each $breakpoint, $value in $breakpoints {
		@media(min-width:$value){
			$i: 0;
			@while $i <= $endPoint{

					.#{$key}-#{$breakpoint}-#{$i}{
						#{$position}: #{$i}px !important;;
					}
				$i : $i+$jump;

			}

			//@for $i from 0 through $endPoint {
			//	.#{$key}-#{$breakpoint}-#{$i}{
			//		#{$position}: #{$i}px;
			//	}
			//}
		}

	}
}

//padding
@include distanceRender('padding','p');
@include distanceRender('padding-top','pt');
@include distanceRender('padding-bottom','pb');
@include distanceRender('padding-left','pl');
@include distanceRender('padding-right','pr');

//margin
@include distanceRender('margin','m');
@include distanceRender('margin-top','mt');
@include distanceRender('margin-bottom','mb');
@include distanceRender('margin-left','ml');
@include distanceRender('margin-right','mr');




/*END: DISTANCE*/
