/*BEGIN: FORM*/
$form-height:40px;
$form-offset: 15px;
.vk-form{
	&--search{
		position: relative;
		.form-control{
			padding-left: $form-offset;
			padding-right: $form-height + $form-offset;
			min-height: $form-height;
		}
		.vk-btn{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			min-width: $form-height;
		}
	}
	&--contact{
		textarea{
			min-height: 100px;
		}
	}
	&--validation{
		.form-group{
			label{
				display: block;
				&.error{
					padding-top: 5px;
					color:$red;
				}
			}
		}
		.form-control{
			&.error{
				border-color: $red;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($red, 0.25);
			}
			&.valid{
				border-color: $green;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($green, 0.25);
			}
		}
		.custom-checkbox{
			display: flex;
			flex-direction: column;
			label{
				&.error{
					order:1
				}
			}

		}

	}

	&--checkout{
		._title{
			font-size: 16px;
			font-weight: 600;
			padding-top: 10px;
		}
		._noti{
			font-size: 13px;
			font-weight: 400;
		}
		._label{
			position: absolute;
			left: 0;
			top: 20px;
			color:lighten($black-1,40);
			@include transition(0.3s);
			order: 0;
		}

		.form-group{
			position: relative;
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;

		}


		.form-control {
			order: 1;
			border-radius: 0;
			border-top: none;
			border-left: none;
			border-right: none;
			padding-left: 0;
			padding-right: 0;

			//box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(209, 0, 130, 0.25);

			&.active{
				~._label{
					top: 0;
					font-size: 12px;
				}
			}

			&:focus{
				box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($pink-1, 0.25);
				~._label{
					color:$pink-1;
				}
				&.error{
					~._label{
						color:$red;
					}
				}
				&.valid{
					~._label{
						color:$green;
					}
				}

			}

			&.error{
				box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($red, 0.25);
				border-color: $red;
			}
			&.valid{
				box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($green, 0.25);
				border-color: $green;
			}




		}

		input.form-control,
		textarea.form-control{
			padding-top: 20px;
			min-height: 50px;
		}
		textarea.form-control{
			min-height: 80px;
		}

		select.form-control{
			min-height: 45px;
		}


		//status
		label{
			margin-bottom: 0;
			&.error{
				order: 2;
				font-size: 13px;
				padding-top: 10px;
				color:$red;
			}
		}

	}
}
/*END: FORM*/
