/*BEGIN: IMG*/
.vk-img {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(0.3s);

	img {
		@include transition(0.3s);
		width: 100%;
	}



	&:focus, &:hover {
		outline: none;
		._img {
			transform:scale(1.1);
		}
	}

	&--mw100 {
		margin-left: auto;
		margin-right: auto;
		img {
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
			max-height: 100% !important;

		}
	}

	&--cover {
		img {
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

	}

	&.MagicZoom{
		img{
			transition: none;
		}
	}

}

/*END: IMG*/
