/*BEGIN: LIST*/

.vk-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--inline {
        > li {
            display: inline-block;
        }
    }



    &--style-1{
        @extend .vk-list, .vk-list--inline;
        font-size: inherit;
        li{
            padding:0 2px;
            a{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @include size(25px);
                border:1px solid $black-1;
                @include hover-focus{
                    background-color:$black-1;
                    color: lighten($black-1,100);
                }
            }
        }
    }

    &--style-2{
        @extend .vk-list;
        font-size: inherit;
        li{
            position: relative;
            padding-left: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            ._icon{
                position: absolute;
                left: 0;
                top: 4px;
                @include size(20px);
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

        }
    }



}

/*END: LIST*/
