/*BEGIN: MENU*/

.vk-menu {
	&__main{
		@extend .vk-list,.vk-list--inline;
		display: none;
		@media(min-width:$tablet_landscape_width){
			display: inline-block;
		}

		li{
			a{
				display: inline-block;
				padding:10px 15px;

				&:focus{
					background-color: $pink-1;
					color:$white;
				}
			}
			&.active{
				a{
					background-color: $pink-1;
					color:$white;
				}

			}

			&:hover{
				>a{
					background-color: $pink-1;
					color:$white;
				}

				>.vk-menu__child{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	&__child{
		@extend .vk-list;
		position: absolute;
		z-index: 1;
		background-color: $grey-1;
		min-width: 200px;
		visibility: hidden;
		opacity: 0;
		@include transition(0.3s);

		li{
			position: relative;
			a{
				display: block;
				padding:10px 15px;


			}
			>ul{
				top: 0;
				left: 100%;
			}

			&:hover{
				>ul{
					opacity: 1;
					visibility: visible;
				}
			}


		}
	}
}

//overide mmenu
.mm-slideout {
	z-index: auto;
}

/*END: MENU*/

