/*BEGIN: MINICART*/


.vk-minicart{
	box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.32);
	padding:30px 15px;
	background-color: $white;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	right: 0;
	@include transition(0.15s);
	opacity: 0;
	visibility: hidden;
	@media(min-width: $tablet_landscape_width){
		left: auto;
		width: 320px;
	}
	&__total{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		font-weight: bold;
		span{
			+span{
				color:$red-1;
			}
		}
	}
	&__btn{
		@extend .vk-btn,.vk-btn--default;
		margin-bottom: 10px;
		width: 100%;
		@media(min-width:$mobile_landscape_width){
			width: 100%;
			margin:10px;
		}
	}
	&__button{
		padding-top: 15px;
		@media(min-width:$mobile_landscape_width){
			display: flex;
			margin-left: -10px;
			margin-right: -10px;
		}

	}
}
.vk-minicart-item{
	display: flex;
	padding:10px 0 ;
	border-bottom:1px solid $grey-1;
	&__img{
		@extend .vk-img,.vk-img--mw100;
		@include size(60px);
		background-color: $grey-1;
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__brief{
		width: 1%;
		flex:1 1 auto;
		padding-left: 15px;
	}
	&__title{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	&__text{
		margin-bottom: 0;
		font-size: 14px;
		p{
			margin-bottom: 0;
		}
	}

}

/*END: MINICART*/
