/*BEGIN: NAV*/
$nav-color: $grey-1;
$nav-active-color: $pink-1;


.nav{

    &--style-1{
        .nav{
            border-bottom:1px solid $nav-color;
            &__item{
                a{
                    display: inline-block;
                    padding:10px 15px;
                    background-color: $nav-color;
                    &.active{
                        background-color: $nav-active-color;
                        color:$white;
                    }
                }
            }
        }

        .tab-content{
            padding:10px 0;
        }
    }
    &--style-2{
        @media(min-width:$tablet_landscape_width){
            display: flex;
        }

        .nav{
            border-bottom:1px solid $nav-color;

            @media(min-width:$tablet_landscape_width){
                border-bottom:0px solid $nav-color;
                width: 150px;
                flex-direction: column;
            }
            &__item{
                a{
                    display: block;
                    padding:10px 15px;
                    background-color: $nav-color;
                    &.active{
                        background-color: $nav-active-color;
                        color:$white;
                    }
                }
            }
        }


        .tab-content{
            padding:15px 0;
            @media(min-width:$tablet_landscape_width){
                width: 1%;
                flex:1 1 auto;
                padding: 15px;
                border:1px solid $nav-color;
            }
        }
    }
}


/*END: NAV*/
