/*BEGIN: OVERLAY*/
.vk-overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    //color
    @each $name, $color in $color-list {
        &--#{$name} {
            background-color: $color;
        }
    }

    //opacity
    @for $i from 1 through 9 {
        &--opacity-#{$i}0 {
            opacity: $i/10;
        }
    }
}
/*END: OVERLAY*/
