/*BEGIN: PAGINATION*/

$pagination-color: $grey-1;
$pagination-color-active: $pink-1;

.vk-pagination {
	text-align: center;
	padding-top: 30px;

	@media(min-width: $tablet_landscape_width) {

	}

	&__list {
		@extend .vk-list, .vk-list--inline;
		font-size: inherit;

		li {
			padding: 0 5px;
			a {
				background-color:transparent;
				border: 1px solid $pagination-color;
				display: flex;
				@include size(30px);
				align-items: center;
				justify-content: center;

				&:focus{
					color: lighten($color-default, 100);
					background-color: $pagination-color-active;
					border-color: $pagination-color-active;
				}
			}

			&:hover,
			&.active{
				a {
					color: lighten($color-default, 100);
					background-color: $pagination-color-active;
					border-color: $pagination-color-active;
				}
			}
		}
	}

}

/*END: PAGINATION*/
