/*BEGIN: RANGE SLIDER*/
$range-slider-height: 3px;
$range-slider-height: 3px;
$range-slider-color:$pink-1;
$range-slider-handle-size: $range-slider-height * 5;
$range-slider-handle-radius: $range-slider-handle-size;



.ui-slider{
	margin-bottom: $range-slider-handle-size;
	&.ui-slider-horizontal{
		border:none;
		background-color: rgba($range-slider-color,.3);
		border-radius: $range-slider-handle-radius;
		height: $range-slider-height;
	}

	.ui-slider-range{
		background-color: $range-slider-color;
		cursor: pointer;
	}

	.ui-slider-handle{
		border:none;
		border-radius: $range-slider-handle-radius;
		background-color: $range-slider-color;
		@include size($range-slider-handle-size);
		top: 50%;
		margin-left: 0;
		transform: translate(-50%,-50%);
		outline:none;
		cursor: pointer;

		&.ui-state-hover,
		&.ui-state-focus{
			background-color: $range-slider-color;
		}

	}
}

.vk-range{
	padding-top: 10px;
	&__show{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

/*END: RANGE SLIDER*/
