.vk-slider {
	position: relative;

	.owl-dots {
		text-align: center;
		.owl-dot {
			margin: 2px;
			outline: none;
			@include size(10px);
			border-radius: 50%;
			background-color: $gray-300;
			&:hover, &.active {
				background-color: $green;
			}
		}
	}

	.owl-nav {

		position: absolute;

		left: 0;
		right: 0;
		.vk-arrow{

			&.disabled{

				opacity: 0 !important;
				visibility: hidden;

			}

		}
	}

	&--style-1{
		.owl-nav {
			top: 50%;

			.vk-arrow{
				transform: translateY(-50%);
				position: absolute;
				opacity: .7;
				&:hover{
					opacity: .9;
				}
				&.prev{
					left: 0;
				}
				&.next{
					right:0;
				}
			}
		}
	}
}