/*BEGIN: TABLE*/
//$table_border_color : lighten($pink-1,40);
$table_border_color : $grey-4;
.vk-table{
	&--cart{
		margin-bottom: 0;
		//border:1px solid $grey-4;
		td,th{
			padding:10px 15px;
			vertical-align: middle;
			&:nth-child(n+3){
				text-align: center;
			}
		}
		thead{

			td,th{
				background-color: lighten($grey-4,2);
				font-weight: bold;
				border-top:none;
				border-bottom:none;
			}
		}
		tbody{
			td,th{
				border-top: 1px solid $table_border_color;
				border-bottom: 1px solid $table_border_color;
			}
		}
	}

}
/*END: TABLE*/
